:root {
    --green-dark: #355b33;
    --green-low-opacity: rgba(53, 91, 51, 0.1);
    --green-mid-opacity: rgba(53, 91, 51, 0.5);
    --light-green: #8caa45;
    --red-border: rgb(220, 38, 38); 
    --red-background: rgba(220, 38, 38, 0.1);
    --default-black-text: rgba(40, 40, 40, 1);
    --kape-bg: rgba(247, 244, 235, 1);
    --kape-bg2: rgba(242, 240, 229, 1);
    --kape-bg-low: rgba(247, 244, 235, 0.7);
    --grayed-text: rgba(102, 102, 102, 1);
    --light-gray: rgb(174, 182, 175);
    --grayed-low-opacity: rgba(102, 102, 102, 0.1);
    --grayed-no-opacity: rgba(102, 102, 102, 0);
    --overlay-bg: rgba(30, 30, 30, 0.7);
    --overlay-bg-low: rgba(30, 30, 30, 0.5);
    --light-border: rgba(204, 204, 204, 0.9);
    --btn-shadow: 0px 2px 8px 1px rgba(30, 30, 30, 0.25);
    --notif-starting-point: 
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    word-wrap: break-word;
    color: var(--default-black-text);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--kape-bg);
    overflow: hidden;
}

.icons {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#loadingOverlay {
    display: flex;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    max-width: 100vh;
    max-width: 100vw;
    background-color: var(--overlay-bg);
    background-image: url('/assets/pictures/fade-dots.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    z-index: 10;
    transition: all 0.15s ease;
}

#usernamePromptOverlay {
    display: flex;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--overlay-bg-low);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: all 0.5s ease;
}

#usernamePromptOverlay.show {
    opacity: 1;
    pointer-events: auto;
}

#usernamePromptContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    gap: 2rem;
    border-radius: 5px;
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(10px);
}

#usernamePromptHeader {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--green-dark);
}

#usernameInput {
    padding: 0.75rem;    
    border-radius: 5px;
    width: 100%;
    border: solid var(--grayed-text) 1px;
    background-color: var(--green-low-opacity);
    transition: all 0.5s ease;
}

#usernameInput.required {
    border: solid var(--red-border) 1px;
    background-color: var(--red-background);
}

#usernameSubmitBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--green-dark);
    font-weight: 600;
    color: var(--kape-bg);
    padding: 1rem;
    border-radius: 5px;
    border: solid var(--green-dark) 1px;
    
}

#usernameSubmitBtn:hover {
    opacity: 0.75;
}

#outerContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/pictures/DiligTayoLogo-Styled.png');
    background-size: 800px 800px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

#outerContainer::before {
    content: "";
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--kape-bg-low);
    backdrop-filter: blur(2px);
    z-index: 0;
}

#headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;
    width: 100%;
    background-color: var(--kape-bg2);
    box-shadow: var(--btn-shadow);
    z-index: 1;
}

#logoDiv {
    display: flex;
    height: 40px;
    width: 125px;
    background-image: url('/assets/pictures/DiligTayoLogo-Minimal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#statusSummaryContainer {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    padding-left: 0;
    justify-self: center;
    margin-right: auto;
}

#moistureSummaryCard, #humiditySummaryCard {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
}

#moistureSummaryCard {
    border-right: solid var(--light-border) 1px;
    padding-left: 0;
}

.header-icons {
    display: flex;
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-pct {
    font-weight: 600;
    color: var(--green-dark);
}

#moistureIcon {
    background-image: url('/assets/icons/moisture.png');
}

#humidityIcon {
    background-image: url('/assets/icons/humidity.png');
}

#usernameContainer {
    flex: 1;
    max-width: fit-content;
    text-align: end;
    font-size: 16px;
    font-weight: 600;
    color: var(--green-dark);
    padding: 0.5rem;
    margin-right: 1.5rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#bodyContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1rem;
    flex: 1;
    width: 100%;
    z-index: 1;
    gap: 1rem;
    overflow: hidden;
}

#logContainer {
    display: flex;
    position: absolute;
    left: 1rem;
    top: 2rem;
    padding-inline: 1rem;
    gap: 0.5rem;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
}

#logHeaderContainer {
    display: flex;
    padding: 0.5rem;
    width: fit-content;
    align-items: center;
    border-radius: 5px;
    background-color: var(--grayed-no-opacity);
    gap: 0.25rem;
    transition: all 0.5s ease;
}

#logHeaderContainer:hover {
    background-color: var(--grayed-low-opacity);
}

#logHeader {
    display: flex;
    padding: 0.25rem 0.5rem;
    color: var(--green-dark);
    cursor: pointer;
}

#logHeaderIcon {
    display: flex;
    width: 15px;
    height: 15px;
    background-image: url('/assets/icons/right.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    transition: all 0.15s ease;
}

#logHeaderIcon.show {
    transform: rotate(-90deg);
}

#logBody {
    display: none;
    pointer-events: none;
    flex-direction: column;
    opacity: 0;
    max-height: 400px;
    overflow-y: auto;
    border: solid var(--light-border) 0.5px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--kape-bg-low)0%, var(--kape-bg)100%) ;
    backdrop-filter: blur(2px);
    box-shadow: var(--btn-shadow);
    transition: all 0.15s ease;
}

#logBody.show {
    display: flex;
    pointer-events: auto;
}

#emptyLogPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.log-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    text-wrap: wrap;
    padding: 0.5rem;
    border-bottom: solid var(--light-border) 1px;
    background-color: var(--grayed-no-opacity);
    transition: all 0.5s ease;
}

.log-cards:hover {
    background-color: var(--green-low-opacity);
}

.log-message, .log-date {
    display: flex;
    align-items: center;
}

.log-message {
    font-weight: 600;
    color: var(--green-dark);
}

.log-date {
    color: var(--grayed-text);
}

#plantContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 1rem 0;
}

#roundNavContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;  
    padding: 0.5rem; 
}

.round-nav {
    display: flex;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: var(--light-gray);
    transition: all 0.5s ease;
}

.round-nav.selected {
    background-color: var(--green-dark);
}

#plantNicknameContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#plantNickname {
    font-size: 24px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--grayed-text);
}

#plantStatusContainer {
    display: flex;
    position: absolute;
    top: -0.75rem;
    /* bottom: -1.75rem; */
    gap: 0.25rem;
    right: -2.5rem;
    transform: rotate(15deg);
    z-index: 1;
}

#plantStatus {
    display: flex;
    padding: 0.25rem 0.5rem;
    color: var(--kape-bg);
    border-radius: 5px;   
}

#plantStatus.healthy {
    background-color: var(--light-green);
}

#plantStatus.soaked {
    background-color: rgb(16, 16, 107);
}

#plantStatus.wet {
    background-color: rgb(71, 157, 186);
}

#plantStatus.dry {
    background-color: rgb(115, 45, 45);
}

#plantStatus.critical {
    background-color: rgb(163, 9, 9);
}

#gold {
    background-color: rgb(226, 195, 19);
}

#dried {
    background-color: rgb(115, 45, 45);
}

#chilled {
    background-color: rgb(116, 195, 221);
}

#bloodlit {
    background-color: rgb(163, 9, 9);
}


#scientificName {
    color: var(--green-dark);
    margin-bottom: 0.25rem;
}

#plantImageContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 290px;
    width: 275px;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.plant-image {
    display: flex;
    position: absolute;
    height: 290px;
    /* max-height: 275px; */
    width: 275px;
    /* max-width: 275px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.15s ease;
}

.move-right {
    animation: slideRight 0.15s forwards;
}

.move-left {
    animation: slideLeft 0.15s forwards;
}

.insert-left {
    animation: insertLeft 0.15s forwards;
}

.insert-right {
    animation: insertRight 0.15s forwards;
}

#popupNotif {
    display: flex;
    position: absolute;
    width: fit-content;
    white-space: nowrap;
    border: solid var(--green-dark) 1px;
    border-radius: 10px;
    background-color: var(--green-mid-opacity);
    color: #f0f0f0;
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    opacity: 0;
    transform: translateX(0);
    animation: popupFadeUp 3s forwards;
    transition: all 0.5s ease;
}

.popup-bubbles {
    display: flex;
    position: absolute;
    right: 0;
    width: fit-content;
    white-space: nowrap;
    border: solid var(--green-dark) 1px;
    border-radius: 10px;
    background-color: var(--green-mid-opacity);
    color: #f0f0f0;
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
}

.animate-bubble {
    animation: bubbleSlide 10s linear;
}

@keyframes bubbleSlide {
    from { 
        transform: translateX(100%);

    }
    to {
        transform: translateX(0);
        right: 100%;
    }
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}

#previousBtn, #nextBtn {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: var(--grayed-no-opacity);
    background-image: url('/assets/icons/right.png');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s ease;
}

#previousBtn:hover, #nextBtn:hover {
    background-color: var(--grayed-low-opacity);
}

#previousBtn {
    transform: rotate(180deg);
}

#clickMeBtn {
    display: flex;
    background-color: var(--grayed-no-opacity);
    color: var(--green-dark);
    font-size: 16px;
    font-weight: 600;
    border: solid var(--green-dark) 1px;
    border-radius: 50px; 
    box-shadow: 0 0 0 0 var(--grayed-no-opacity);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

#clickMeBtn.auto-mode {
    pointer-events: none;
    background-color: var(--grayed-low-opacity);
    border: solid var(--grayed-text) 1px;
    color: var(--grayed-text);
    opacity: 0.75;
}

#clickMeBtn:hover {
    color: var(--kape-bg);
    background-color: var(--green-dark);
    border: solid var(--green-dark) 1px;
    box-shadow: var(--btn-shadow);
}

#clickMeBtn:active {
    opacity: 0.75;
    transform: scale(0.9);
    box-shadow: 0 0 0 0 var(--grayed-no-opacity);
}

#recentWaterStatus {
    display: flex;
    text-align: center;
    color: var(--grayed-text);
}

#autoWaterMode {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 5rem;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

#autoSettings {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--grayed-no-opacity);
    background-image: url('/assets/icons/settings.png');
    background-size: 20px 20px;
    transition: all 0.15s ease;
}

#autoSettings:hover {
    background-color: var(--grayed-low-opacity);
}

#autoWaterMode label {
    color: var(--green-dark);
}

#autoWaterCheckbox {
    border: var(--green-dark);
}

#autoConfigContainer {
    display: none;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--kape-bg2);
    padding: 2rem;
    border-radius: 10px;
    gap: 1rem;
    top: calc(100% + 1rem);
    box-shadow: var(--btn-shadow);
    transition: all 0.15s ease;
}

#autoConfigContainer.show {
    opacity: 1;
    pointer-events: auto;
}

.config-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.config-container input {
    border-radius: 5px;
    padding: 0.5rem;
    border: solid var(--green-dark) 1px;
    background-color: var(--grayed-no-opacity);
    transition: all 0.15s ease;
}

.config-container input.invalid {
    background-color: var(--red-background);
    border: solid var(--red-border) 1px;
}

.invalid-input {
    color: var(--grayed-text);
    font-size: 10px;
}

.invalid-input.error {
    color: var(--red-border);
}

#saveConfigBtn {
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--green-dark);
    border-radius: 5px;
    border: solid var(--green-dark) 1px;
    background-color: var(--grayed-no-opacity);
    transition: all 0.15s ease;
}

#saveConfigBtn.show {
    opacity: 1;
    pointer-events: auto;
}

#saveConfigBtn:hover {
    background-color: var(--green-dark);
    color: var(--kape-bg);
    box-shadow: var(--btn-shadow);
    transform: scale(95%);
}

#saveConfigBtn:active {
    transform: scale(100%);
    box-shadow: none;
    opacity: 0.85;
}

#plantDataContainer {
    display: flex;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right: 1rem;
    height: fit-content;
    width: 225px;
    max-width: 225px;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(to bottom right, var(--grayed-no-opacity) 0%, var(--kape-bg-low)50%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    z-index: 2;
    box-shadow: var(--btn-shadow);
    transition: all 0.5s ease;
}

#plantDataContainer.show {
    opacity: 1;
}

#plantDataToggleBtn {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--grayed-no-opacity);
    background-image: url('/assets/icons/leaf.png');
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    transition: all 1s ease;
    z-index: 3;
}

#plantDataToggleBtn:hover {
    background-color: var(--grayed-low-opacity);
}

#plantDataToggleBtn.show {
    background-image: url('/assets/icons/close.png');
}

.plant-status-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

#soilDataTitle, #humidityDataTitle {
    display: flex;
    background-color: var(--green-low-opacity);
    border-radius: 50px;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--green-dark);
}

#soilDataStatus, #humidityDataStatus {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    color: var(--green-dark);
}

.bar-containers {
    display: flex;
    width: 100%;
    height: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    background: linear-gradient(to right, var(--green-dark) 50%, var(--light-green) 70%);
    border-radius: 50px;
}

.bars {
    display: flex;
    height: 100%;
    border-radius: 50px;
    width: 100%;
}

.progress-percent {
    display: flex;
    text-align: center;
    width: 100%;
    color: var(--green-dark);
}

@media (max-width: 800px){
    #outerContainer {
        background-size: 500px 500px;
    }
}

@media (max-width: 550px){
    #usernameContainer {
        max-width: 75px;
    }
}

@keyframes popupFadeUp {
    0% { 
        transform: translateY(0); 
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes slideRight {
  from { transform: translateX(0); }
  to   { transform: translateX(275px); }
}

@keyframes slideLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-275px); }
}

@keyframes insertLeft {
  from { transform: translateX(275px); }
  to   { transform: translateX(0); }
}

@keyframes insertRight {
  from { transform: translateX(-275px); }
  to   { transform: translateX(0); }
}